# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Ignore Intellij Idea project-specific files.
.idea/workspace.xml

# Ignoring Mcln Trace Log Storage
/Mcln Trace Log Storage/

# Ignoring MCLN-MATRIX-APP relations by searching in any subdirectory relative to the .gitignore file
relations/
classes/

